<html>
<head>
  <title>LambdaSchool</title>
  <meta name="description" content="Learn to code with LambdaSchool's online code bootcamp. Live lectures, small classes.">
  <link rel="shortcut icon" href="https://lambdaschool.com/favicon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="static/styles/lambdaschool.css"
</html>
<body>
<div class="navBar-container">
  <a href="https://lambdaschool.com"><img src="https://lambdaschool.com/assets/img/lambdalight.png"></a>
  <ul>
  <li class=""><a href="https://lambdaschool.com/faq">Faq</a></li>
  <li class=""><a href="https://lambdaschool.com/blog">Blog</a></li>
  <li class=""><a href="https://lambdaschool.com/full-time">Full Time</a></li>
  <li class=""><a href="https://lambdaschool.com/part-time">Part Time</a></li>
  <li class=""><a href="https://lambdaschool.com/mini-bootcamp">Free Mini Bootcamp</a></li>
  <li class=""><a href="https://lambdaschool.com/contact">Contact</a></li>
  <li class=""><a href="https://lambdaschool.com/apply">Apply</a></li>
</ul>
</div>
<img src="https://lambdaschool.com/assets/img/bg/img8.jpg">
<h1>The ultimate<br>Online Code Bootcamp</h1>
<br><br>
<div class="row">
  <div>
    <h2>The skills you need, wherever you are</h2>
    <br>
    <p>LambdaSchool is an intense and immersive code bootcamp you can attend from anywhere in the world.</p>
    <p>Featuring small class sizes, world-class instructors, and a demanding curriculum, you'll spend thirteen weeks immersed in code, emerging as a full-stack software engineer.</p>
    <p>LambdaSchool is designed to help you succeed in your career-from helping you learn cutting edge technologies to career consulting, interview preparation, and facilitating networking with highly talented individuals. Join us and see what LambdaSchool can do for you.</p>
    <a href="https://lambdaschool.com/apply">Apply Now</a>
  </div>
  <img src="https://lambdaschool.com/assets/img/bluejeans600.jpg" alt="online code bootcamp">
</div>
</body>
</html>
